<div class="movie container emp-profile">
   <div class="row">
      <div class="col-md-4">
         <div class="profile-img">
         
            <img src={{movie.img}} alt="Movie Image">
         </div>
      </div>
      <div class="col-md-6">
         <div class="profile-head">
            <h1>{{movie.title}}</h1>
            <h2>{{movie.mpaaRating}}</h2>
            <p class="proile-rating">View Details About   <span>"{{movie.title}}"</span></p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                     <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
                  </li>
                </ul>
         </div>
      </div>
      <div class="col-md-2">
            <a class="back-btn" name="btnAddMore" value="Back to Home" href="/home/profile">Back to Your Profile</a>
         </div>
   </div>
   <div class="row">
      <div class="col-md-4">
            <div class="profile-actions">
               <p>WANT TO WATCH LIST</p>
               <a href="/wantToWatchList/">My List</a>
               <br>
               <a href="/wantToWatchList/add">Add Movies</a><br />
               <p>WATCHED MOVIES LIST</p>
               <a href="/wantToWatchList/watchedList">My Watched List</a>
               <br>
               <p>DECISION GROUPS</p>
               <a href="/groups">Find a Group</a><br />
               <p>Add Review</p>
               <!-- Button trigger modal -->
               {{> reviewButton movie}}
            </div>
         </div>
      <div class="col-md-8">
         <div class="tab-content profile-tab" id="myTabContent">
               <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                     <div class="col-md-6">
                        <label>Summary</label>
                     </div>
                     <div class="col-md-6">
                        <p>{{movie.desc}}</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <label>Genres</label>
                     </div>
                     <div class="col-md-6">
                        <dd>
                           <ul>
                              {{#each movie.genre}}                
                              <li>{{this}}</li>
                              {{/each}}        
                           </ul>
                        </dd>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <label>Runtime</label>
                     </div>
                     <div class="col-md-6">
                        <p>{{movie.runtime}} minutes</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <label>Release Date</label>
                     </div>
                     <div class="col-md-6">
                        <p>{{movie.releaseYear}}</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <label>Average User Rating</label>
                     </div>
                     <div class="col-md-6">
                        <p>{{movie.userAvgRating}}</p>
                     </div>
                  </div>
               </div>
               <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                  <div class="row">
                     <div class="col-md-12">
                        <label>"{{movie.title}}" Reviews:</label><br/>
                        <p>
                           <ul>
                           {{#each movie.reviews}}                
                              <li class="review-li">
                                 {{this.username}} says:
                                 <br>
                                 "{{this.reviewText}}"
                                 <br>
                                 user review rating: {{this.rating}}
                                 <br>
                                 reviewed on: {{this.reviewDate}}
                              </li>
                              {{else}}
                              <li>No reviews have been made for this movie yet</li>
                              {{/each}}
                           </ul>
                        </p>
                     </div>
                  </div>
               </div>
         </div>
      </div>
   </div>
</div>
{{!-- <dl>
   <dt>Summary</dt>
   <dd>{{movie.desc}}</dd>
   <dt>MPAA Rating</dt>
   <dd>{{movie.mpaaRating}}</dd>
   <dt>Genres</dt>
   <dd>
      <ul>
         {{#each movie.genre}}                
         <li>{{this}}</li>
         {{/each}}        
      </ul>
   </dd>
   <dt>Runtime</dt>
   <dd>
      {{movie.runtime}} minutes
   </dd>
   <dt>Release Date</dt>
   <dd>
      {{movie.releaseYear}}
   </dd>
   <dt> Average User Rating </dt>
   <dd>
      {{movie.userAvgRating}}
   </dd>
   <dt>Reviews</dt>
   <dd>
      <ul>
         {{#each movie.reviews}}                
         <li class="review-li">
            {{this.username}}
            <br>
            {{this.reviewText}}
            <br>
            {{this.rating}}
            <br>
            {{this.reviewDate}}
         </li>
         {{else}}
         <li>No reviews have been made for this movie yet</li>
         {{/each}}
      </ul>
   </dd>
</dl>
<a href="/wantToWatchList/">Return to my want to watch list</a>
<!-- Button trigger modal -->
{{> reviewButton movie}}
</div>
</div> --}}