<div class="container emp-profile">

<h1 class="group-name">Group: {{groupName}}</h1>
<h2>{{title}}</h2>
<img src="{{img}}" alt="{{img}}">
<h3>{{message}}</h3>
<form class="{{pick}}" action="/pick/list" method="GET">
 <button class="create-button btn btn-primary" id="pickflick-button" type="submit">Pick Flicks</button>
   {{!-- <input type="submit" value="Pick Flicks"> --}}
</form>
<!-- Where should this lead? -->
<form class="{{exit}}" action="/pick/leave" method="GET">
   <button class="create-button btn btn-primary" id="exit-button" type="submit">Exit Lobby</button>
   {{!-- <input type="submit" value="Exit Lobby"> --}}
</form>
<form class="{{done}}" action="/pick/done" method="GET">
   <input type="submit" value="Check if they're finished.">
</form>
<h3 class="error">{{error}}</h3>
</div>