<div class="container emp-profile">
    <section>
        <!-- 'src' will be replaced by {{img_src}} -->
        <img class="thumb-med float-left mr-4" src={{movie.img}} class="rounded mx-auto d-block" alt={{movie.title}}>
        <div class="container">
            <h3 class="mv_card display-3">{{movie.title}}</h3>
            <h4>({{movie.releaseYear}})</h4>
            <h5>{{movie.runtime}} minutes</h5>
            <h5>{{movie.mpaaRating}}</h5>
            <h5>Average rating: {{movie.userAvgRating}}</h5>
            <h6 class="genre-title">Genres</h6>
            <ul>
                {{#each genres}}
                <li>{{ this }}</li>
                {{/each}}
            </ul>
            <p>
            {{movie.desc}}
            </p>
            <div class="row" align="center">
             <div class="col-6">
                <form class="btn btn-success half-b" action="/pick/choice/yes" method="post">
                    <input class="spec" type="submit" name="yes" value="Yay!"/>
                </form>
             </div>
             <div class="col-6">
                <form class="btn btn-danger half-b" action="/pick/choice/no" method="post">
                    <input class="spec" type="submit" name="yes" value="Nay."/>
                </form>
             </div>
            </div>
        </div>
        <div class="container" id="reviews">
            {{#each reviews}}
            <div>
                <div class="container">
                    <h2>{{reviewDate}}</h2>
                    <h4>{{username}}</h4>
                    <p>{{reviewText}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    <section>
    </section>
</div>