{{!-- New UI --}}
<div class="watchList container emp-profile">
    <h1>My {{listName}} List:</h1>
    <p class="error"></p>
    <div class="container">
        <ul class="list-group shadow" id="movieList">
            {{#each movieList}}
            <li class="list-group-item">
                <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <img src={{this.img}} alt="{{this.title}}" width="200" class="ml-lg-5 order-1 order-lg-2">
                    <div class="media-body order-2 order-lg-1">
                        <h1 class="mt-0 font-weight-bold mb-2">{{this.title}}</h1>
                        <p class="font-italic text-muted mb-0 small"><a href={{this.moreDetailsRoute}}> Show more details</a></p>
                            
                        <div class="d-flex align-items-center justify-content-between mt-1">
                        </div>
                    </div>
                </div>
            
            </li>
            {{else}}
            <p class="error">You {{listName}} list is empty</p>
            {{/each}}
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/myWatchList.js"></script>
</div>