<h1>My Watch List:</h1>
<p class="error"></p>
<ul id="movieList">
    {{#each movieList}}
    <li>
        <img src={{this.img}} alt={{this.title}} width="108" height="160">
        {{this.title}}
        <br>
        <button type="submit" class="removeLink" id={{this._id}}>Remove this movie from my list</button>
        <br>
        <a href={{this.moreDetailsRoute}}> Show more details</a>
        <br>
        <br>
    </li>
    {{else}}
    <p class="error">You watch list is empty</p>
    {{/each}}
</ul>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/removeFromWatchList.js"></script>